<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>New user</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>

	<section class="container">
		
			
			<form action="<%= user_new_user_post_path %>" method="post" >
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
				<div class="col-md-6">				
					<div class="form-group ">
						<label for="firt_namer_user">Firt Name</label>
						<input type="text" name="user[firt_name]" id="firt_namer_user" class="form-control">
					</div>
				</div>	
				<div class="col-md-6">
					<div class="form-group ">
						<label for="last_namer_user">Last Name</label>
						<input type="text" name="user[last_name]" id="last_namer_user" class="form-control">
					</div>
				</div>	
				<div class="col-md-6">
					<div class="form-group ">
						<label for="citizenship_card_user">Citizenship card</label>
						<input type="text" name="user[citizenship_card]" id="citizenship_card_user" class="form-control">
					</div>
				</div>	
				<div class="col-md-6">
					<div class="form-group ">
						<label for="email_user">Email</label>
						<input type="email" name="user[email]" id="email_user" class="form-control">
					</div>
				</div>	
				<div class="col-md-6">
					<div class="form-group ">
						<label for="address_user">Address</label>
						<input type="text" name="user[address]" id="address_user" class="form-control">
					</div>
				</div>	
				<div class="col-md-6">
					<div class="form-group ">
						<label for="cellphone_user">Cell phone</label>
						<input type="text" name="user[cellphone]" id="cellphone_user" class="form-control">
					</div>
				</div>	
				<div class="col-md-6">
					<div class="form-group ">
						<label for="birthdate_user">Birthdate</label>
						<input type="date" name="user[birthdate]" id="birthdate_user" class="form-control">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group ">
						<input type="submit" class="btn btn-primary" value="submit">
					</div>
				</div>
			</form>
		
		
	</section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>