<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Hola</title>
	<link rel="stylesheet" href="">
</head>
<body>
<img src="http://www.epicgifs.net/images/show/8O05MEFZ" alt=""/>
</body>
</html>