body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:373px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:1px;
  width:375px;
  height:666px;
}
#u152_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:126px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:47px;
  width:300px;
  height:126px;
  font-family:'Lugina FP Heavy', 'Lugina FP';
  font-weight:900;
  font-style:normal;
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:382px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:152px;
  width:333px;
  height:382px;
  opacity:0.2;
}
#u154_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u155_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:44px;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:3px;
  width:39px;
  height:44px;
}
#u156_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lugina FP Heavy', 'Lugina FP';
  font-weight:900;
  font-style:normal;
  text-align:center;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:85px;
  width:159px;
  height:50px;
  font-family:'Lugina FP Heavy', 'Lugina FP';
  font-weight:900;
  font-style:normal;
  text-align:center;
}
#u157_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:221px;
  width:375px;
  height:20px;
}
#u158_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:334px;
  width:375px;
  height:20px;
}
#u159_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:55px;
  background:-webkit-linear-gradient(180deg, rgba(0, 255, 102, 1) 0%, rgba(0, 255, 102, 1) 0%, rgba(0, 255, 153, 1) 45%, rgba(0, 255, 153, 1) 100%, rgba(0, 255, 153, 1) 100%);
  background:-moz-linear-gradient(270deg, rgba(0, 255, 102, 1) 0%, rgba(0, 255, 102, 1) 0%, rgba(0, 255, 153, 1) 45%, rgba(0, 255, 153, 1) 100%, rgba(0, 255, 153, 1) 100%);
  background:linear-gradient(270deg, rgba(0, 255, 102, 1) 0%, rgba(0, 255, 102, 1) 0%, rgba(0, 255, 153, 1) 45%, rgba(0, 255, 153, 1) 100%, rgba(0, 255, 153, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:612px;
  width:374px;
  height:55px;
}
#u160_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:23px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:621px;
  width:33px;
  height:23px;
}
#u162_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:650px;
  width:50px;
  height:16px;
  color:#FFFFFF;
}
#u163_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:617px;
  width:33px;
  height:33px;
}
#u165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:650px;
  width:38px;
  height:16px;
  color:#FFFFFF;
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:33px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:617px;
  width:28px;
  height:33px;
}
#u168_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:651px;
  width:49px;
  height:16px;
  color:#FFFFFF;
}
#u169_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(49, 27, 85, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lugina FP Heavy', 'Lugina FP';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:221px;
  width:300px;
  height:49px;
  font-family:'Lugina FP Heavy', 'Lugina FP';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u170_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 255, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lugina FP Heavy', 'Lugina FP';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#F2F2F2;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:460px;
  width:140px;
  height:40px;
  font-family:'Lugina FP Heavy', 'Lugina FP';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#F2F2F2;
}
#u171_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(49, 27, 85, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lugina FP Heavy', 'Lugina FP';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:310px;
  width:300px;
  height:49px;
  font-family:'Lugina FP Heavy', 'Lugina FP';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u172_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#797979;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:183px;
  width:90px;
  height:28px;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#797979;
}
#u173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#797979;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:276px;
  width:79px;
  height:28px;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#797979;
}
#u174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(49, 27, 85, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lugina FP Heavy', 'Lugina FP';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:403px;
  width:300px;
  height:49px;
  font-family:'Lugina FP Heavy', 'Lugina FP';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#797979;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:369px;
  width:132px;
  height:28px;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#797979;
}
#u176_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lugina FP Heavy', 'Lugina FP';
  font-weight:900;
  font-style:normal;
  text-decoration:underline;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:508px;
  width:89px;
  height:24px;
  font-family:'Lugina FP Heavy', 'Lugina FP';
  font-weight:900;
  font-style:normal;
  text-decoration:underline;
}
#u177_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:85px;
  white-space:nowrap;
}
#u178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lugina FP Heavy', 'Lugina FP';
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:561px;
  width:120px;
  height:30px;
  font-family:'Lugina FP Heavy', 'Lugina FP';
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u178_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:116px;
  word-wrap:break-word;
}
